@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');

/* footer bottom */

html,
body {
    height: 100%;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family: 'Noto Sans TC', sans-serif;
}

.wrapper {
    flex-grow: 1;
}

#footer {
    position: absolute;
    height: 100px;
    width: 100%;
    /*設定footer本身高度*/
}


/* [class^="bi-"]::before {
    border: #1ca39b 1px solid;
    border-radius: 50%;
    padding: 15px;
} */


/* brand */

.threeweb {
    /* position: absolute; */
    background: linear-gradient(to bottom, #000000 0%, #1ca39b 100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-brand {
    /* background: linear-gradient(to bottom, #11e8bb 0%, #8200c9 100%); */
    color: white;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    /* top: 85px; */
    text-align: center;
    overflow-y: hidden;
}

.content-brand {
    /* display: grid; */
    /* gap: 1em; */
    top: 85px;
    width: 100%;
    padding-top: 1em;
    position: relative;
}

#services {
    /* background: linear-gradient(to bottom, #1ca39b 0%, #ffffff 100%); */
    margin: 0;
    position: absolute;
    /* display: flex; */
    /* padding-left: 45px; */
    width: 100%;
    object-fit: cover;
    /* background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .8)), url('../assets/img/portfolio/nycu_techno.png'); */
    /* background-size: cover; */
}

#portfolio {
    position: absolute;
    width: 100%;
}

#brand,
#slogan {
    flex-basis: 0;
    flex-grow: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

#slogan {
    font-weight: 400;
    letter-spacing: 10px;
    text-align: center;
}

#particles-js {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    pointer-events: fill;
    opacity: 0.7;
}

@media (min-width: 320px) {
    #services {
        top: 100vmax;
    }
    #brand {
        font-size: 1.5rem;
    }
    #portfolio {
        top: 1850px;
    }
    .container-brand {
        height: 100vh;
    }
    #footer {
        top: 2300px;
    }
}

@media (min-width: 576px) {
    #services {
        top: 100vmax;
    }
    #brand {
        font-size: 2rem;
    }
    #portfolio {
        top: 200vmax;
    }
    .container-brand {
        height: 85vh;
    }
    #footer {
        top: 2600px;
    }
}

@media (min-width: 768px) {
    #services {
        top: 1150px;
    }
    #portfolio {
        top: 1700px;
    }
    #brand {
        font-size: 3rem;
    }
    #slogan {
        font-size: 2rem;
    }
    .container-brand {
        height: 110vh;
    }
    #footer {
        top: 2400px;
    }
}

@media (min-width: 992px) {
    #services {
        top: 800px;
    }
    #portfolio {
        top: 1400px;
    }
    #brand {
        font-size: 3rem;
    }
    #slogan {
        font-size: 1.5rem;
    }
    .container-brand {
        height: 100vh;
    }
    #footer {
        top: 1950px;
    }
}

@media (min-width: 1200px) {
    #services {
        top: 590px;
    }
    #portfolio {
        top: 1100px;
    }
    #brand {
        font-size: 4rem;
    }
    #slogan {
        font-size: 1.5rem;
    }
    .container-brand {
        height: 100vh;
    }
    #footer {
        top: 1800px;
    }
}

@media (min-width: 1400px) {
    #services {
        top: 1050px;
    }
    #portfolio {
        top: 1600px;
    }
    #brand {
        font-size: 4rem;
    }
    #slogan {
        font-size: 1.5rem;
    }
    .container-brand {
        height: 100vh;
    }
    #footer {
        top: 2500px;
    }
}


/* index */

#mainNav {
    visibility: hidden;
    /* visibility: visible; */
}

.nav-logo {
    height: 25px;
    padding-bottom: 5px;
    margin-right: 5px;
}


/* h2 {
    font-weight: 500;
} */


/* 
h6 {
    font-weight: 600;
} */


/*index- project */

.intro-short {
    white-space: pre-line;
    width: 30%;
}

.text-spacing {
    letter-spacing: 3px;
}

.text-spacing-s {
    letter-spacing: 1px;
}

.line-bottom {
    border-bottom: #1ca39b 2px solid;
    top: 140px;
    left: 0;
    transform: scaleX(0.3);
    width: 100%;
}

i {
    color: #1ca39b;
    font-size: 48px;
}

.bi-chevron-left,
.bi-chevron-right {
    font-size: 2.5rem;
}

.box-shadow-dark {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.box-shadow-light {
    box-shadow: 0 0.25rem 0.75rem rgba(255, 255, 255, .05);
}

.btn-outline-white {
    background-color: transparent;
    border: #f8f9fa solid 1px;
    box-shadow: 0 0.25rem 1rem rgba(255, 255, 255, .3);
}

.slogan-font {
    font-family: 'Ubuntu', sans-serif;
}

.text-white {
    color: white;
}

.portfolio-box-caption {
    height: 250px;
}

#submit {
    /* width: 150px; */
    /* margin-left: 170px; */
    /* text-align: center; */
    /* justify-content: center; */
    margin-bottom: 10px;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 0rem;
}


/* Pricing */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: #000;
    color: white;
    padding: 5px 20px;
    border-bottom: #000 solid 1px;
}

.table-row-head {
    background-color: #000;
}


/* project */

.card.project-block {
    border: none;
}

.project-image {
    display: flex;
    height: 100px;
    width: 300px;
}

.card-text {
    font-size: small;
}

.project-item {
    position: relative;
    display: flex;
    flex-direction: column;
    /* min-width: 0; */
    word-wrap: break-word;
    /* background-color: transparent; */
    background-clip: border-box;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    /* border-radius: 0.25rem; */
    margin: auto;
    box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

.rwdimg {
    display: block;
    width: 85%;
    height: 0;
    padding-bottom: 30%;
    margin: auto;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width:320px) {
    .rwdimg {
        width: 100%;
        padding-bottom: 50%;
    }
    .carousel-indicators {
        top: 50vw;
    }
}

@media (min-width:576px) {
    .rwdimg {
        width: 85%;
        padding-bottom: 40%;
    }
    .carousel-indicators {
        top: 40vw;
    }
}

@media (min-width:768px) {
    .rwdimg {
        width: 85%;
        padding-bottom: 40%;
    }
    .carousel-indicators {
        top: 42vw;
    }
}

@media (min-width:992px) {
    .rwdimg {
        width: 85%;
        padding-bottom: 35%;
    }
    .carousel-indicators {
        top: 37vw;
    }
}

@media (min-width:1200px) {
    .rwdimg {
        width: 85%;
        padding-bottom: 30%;
    }
    .carousel-indicators {
        top: 32vw;
    }
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.hide-filter {
    display: none;
}


/* .filter {
    margin-left: 5rem;
} */

.filter h6 {
    cursor: pointer;
}

.filter-border {
    background-color: rgba(28, 163, 155, 0.1);
    /* border-bottom: 1.5px solid #1ca39b; */
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 10px;
    width: 5px;
    margin: auto;
}


/* project-item */

.text-p {
    font-weight: 400;
    font-size: 0.875rem;
}

.word-wrap {
    word-wrap: break-word;
}

.img-fluid-project {
    max-width: 60vw;
    /* height: ; */
    object-fit: cover;
    margin: 0 auto;
}


/* about */

.team {
    position: relative;
    /* display: flex; */
    /* flex-direction: column; */
    /* min-width: 0; */
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    width: 250px;
    box-shadow: 3px 5px 10px 1px rgb(0 0 0 / 20%);
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    /* justify-content: center; */
}

.img-fluid-about {
    width: 100%;
    object-fit: cover;
    margin: auto;
}

.about-bg {
    background-color: rgba(28, 163, 155, 0.8);
    color: white;
    width: 30px;
    font-weight: 400;
    margin: auto;
    position: absolute;
    padding-right: 6px;
}

.about-hover {
    background-color: rgba(28, 163, 155, 0.7);
    /* background-color: rgba(255, 255, 255, 0.9); */
    color: black;
    color: white;
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    /* top: 250px; */
    opacity: 0;
}

.about-hover:hover {
    opacity: 1;
    transition: 0.3s;
}

.all:hover {
    background-color: rgba(28, 163, 155, 0.2);
    padding-top: 15px;
    transform: scale(1.08);
    transition: 0.3s;
    box-shadow: 1px 3px 5px 1px rgb(0 0 0 / 5%);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
    /* opacity: 0; */
}